<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Magazine of FOT</title>
</head>
<body>
    <div class="container">
        <!-- Big Heading aligned to the left -->
        <div class="heading">
            Magazine of FOT
        </div>

        <!-- Two small boxes for menu and search -->
        <div class="box">
            <div class="small-box">
                <h3 onclick="toggleDropdown()">Menu</h3>
                <div id="dropdownmenu" class="dropdown-content">
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#tech-articles">Tech Articles</a>
                    <a href="#campus-news">Campus News</a>
                    <a href="#creatives">Creatives</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>
            <div class="small-box">
                <h3>Search</h3>
              
            </div>
        </div>
    </div>
    <img src="static\css\images\8918181.png" class="shape" alt="Shape" />
            <img src="static\css\images\8918181.png" loading="eager" alt="Textured Stone" class="shape_orange-1" />
    <!-- Image Section for Large Image and Small Images -->
    <div class="image-section">
        <img class="large-image" src="https://m.media-amazon.com/images/I/512Sh3iyMSL._AC_UF1000,1000_QL80_.jpg" alt="Large Image"> <!-- Replace with your large image link -->
        
        <div class="small-images">
            <div class="bordered-box" id="changing-image-box">
                <img class="small-image" src="https://fot.du.ac.in/userfiles/images/FacultyPhotos/fot/cs/dr_unmesh_shuklaa.jpg" alt="Changing Image" id="changing-image">
            </div>
            <img class="small-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuv07KXpUWIL0B2n0ngu_v-OC858NiJocl9Q&s" alt="Small Image 2" />
            <img class="small-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCukmQJTgWi4uv9mu9U81ka4sywM7hG_e-2g&s" alt="Small Image 3" /> 
        </div>
    </div>

    <!-- Landscape Image at the bottom -->
    <div class="photograph-of-the-month container-box">
        <div class="photograph-content">
            <h2>Photograph of the Month</h2>
        </div>
        <div class="image-container">
            
        </div>
    </div>
    

    <script src="static/js/script.js"></script> 
    <div class="three-card-section">
        <!-- Card 1 -->
        <div class="card">
            <a href="#" class="card_top" style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.sddgpi.com%2Fblog%2Fwhy-electrical-engineering-is-in-trend&psig=AOvVaw3TxZWAEVPEFUYS9vgr1l8d&ust=1730395459197000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPidlcTPtokDFQAAAAAdAAAAABAE');"></a>
            <div class="card_content">
                <h3 class="card-title">ELECTRICAL ENGINEERING SECTION</h3>
                <p class="author">by akaksha singh</p>
                <p class="card-text">4 Minutes</p>
                <a href="#" class="button">Read Now</a>
            </div>
        </div>
    
        <!-- Card 2 -->
        <div class="card">
            <a href="#" class="card_top" style="background-image: url('C:\Users\nishu\OneDrive\Documents\magazine - Copy\magazine - Copy\colorful-lizard-in-neon-colors-dark-background-with-a-close-up-photo.jpg');"></a>
            <div class="card_content">
                <h3 class="card-title">COMPUTER SCIENCE ENGINEEIRNG </h3>
                <p class="author">by AKAKSHA SINGH</p>
                <p class="card-text">5 Minutes</p>
                <a href="#" class="button">Read Now</a>
            </div>
        </div>
    
        <!-- Card 3 -->
        <div class="card">
            <a href="#" class="card_top" style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fthepostmansknock.com%2F8-tips-improve-your-handwriting%2F&psig=AOvVaw0SAeSkSM1axE-BdH8FzVxE&ust=1730395615876000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJC6ipfQtokDFQAAAAAdAAAAABAE');"></a>
            <div class="card_content">
                <h3 class="card-title">The ART OF WRITING</h3>
                <p class="author">by AKAKSHA SINGH</p>
                <p class="card-text">3 Minutes</p>
                <a href="#" class="button">Read Now</a>
            </div>
        </div>
    </div>
    <div class="message-by-dean">
        <div class="dean-photo">
            
                <div class="photo-placeholder"></div> 
            
        </div>
        <div class="dean-message">
            <h2>Message by the Dean</h2>
            <p>
                Welcome to the Magazine of FOT! We are excited to bring you insights, news, and creative works that showcase the incredible talents and innovations within our college community. Through this platform, we hope to inspire, inform, and engage you with the remarkable work of our students and faculty.
            </p>
            <p>- Dean of FOT</p>
        </div>
    </div>
    <div class="about-us">
        <div class="the-need">
            <h2>about us </h2>
            <h3> the need</h3>
            <p> to integarte our for community in one , hear the camous voices and grow into holistic individuals. </p>
        </div>
        <div class="our-mission">
            <h2> our mission</h2>
            <P> to celebrate life beyond the academic curriculum  , hear , celebrate and enjoy our passions , individuality and everything that makes us . this 
                magazine is made with the sole intention of widning our lens of life .  </P>
        </div>
    </div>
    
</body>
</html>
